@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@300..700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.contain {
  margin: 0px auto;
  width: 90%;
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 25px;
  background: #FFE4D8;
}
#left, #right {
  height: 100%;
  width: 100%;
}
#right {
  background:
    linear-gradient(to bottom, #000a, #0000, #000a),
    url(https://images.unsplash.com/photo-1527118732049-c88155f2107c?q=80&w=3774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
  ;
  background-size: cover;
  background-position: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px;
  padding: 25px 0px;
}
.container.a, .container.b {
  flex: 1;
  height: 100%;
}
.container.a {
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content max-content max-content max-content 1fr;
}
.container.b {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


h1 {
  font-size: 2rem;
  font-family: "Abril Fatface", serif;
}
h2 {
  font-family: "Abril Fatface", serif;
  font-family: 1.75rem;
}
.funfact h2 {
  color: #779DFF;
}
p, li {
  max-width: 500px;
}
ul {
  list-style-type: none;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}
p.additional-info {
  font-weight: 100;
  font-size: 0.85rem;
  opacity: 0.8;
  padding-top: 0.25rem;
}

.intro {
  margin: 15px 0px 25px
}
.agenda {
  margin-bottom: 25px;
}
.agenda h2 {
  margin-bottom: 10px;
}
.attendance {
  margin-bottom: 25px
}
.attendance p {
  margin-top: 5px;
}

.btn {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;  
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  transition: all 0.5s;
  font-family: "Abril Fatface", serif;
}
.btn.alt {
  display: flex;
  flex-direction: row;
  flex: 1 50%;
  margin: 0px auto;
  background: linear-gradient(to right, #779DFF, #FF956E);
  align-self: end;
}
.btn.alt img {
  width: 50px
}
.buttons .btn:hover {
  background: #779DFF55;
}
.buttons .btn:nth-of-type(2n):hover {
  background: #FF956E55;
}
.btn.alt:hover {
  width: 90%;
}

.funfact, .btn {
  backdrop-filter: blur(15px);
  color: white;
}

.funfact {
  width: 90%;
  max-width: 500px;
  padding: 25px;
  border-radius: 50px;
  background: #0005;
}

.buttons {
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.buttons .btn {
  width: 200px;
  height: 200px;
  text-align: center;
}
.buttons .btn img {
  width: 50px;
}

a.disabled {
  pointer-events: none !important;
  opacity: 0.5;
  filter: grayscale(100%);
}