/* GENERAL STYLING / RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
img {
    object-fit: cover;
}
/* FONTS */
@font-face {
    font-family: 'latob';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lator';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'staat';
    src: url('../fonts/staatliches-regular-webfont.woff2') format('woff2'),
         url('../fonts/staatliches-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1, h2 {
    font-family: 'staat', script;
}
h3, h4, p, a, li, blockquote {
    font-family: 'lator', script;
}
header, main, footer {
    max-width: 1440px !important;
}

/* HEADER */
header {
    width: 100vw;
    background-color: black;
}

/* NAVIGATION */
nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
#logo {
    color: white;
    text-decoration: none;
}
ul {
    display: flex;
}
ul li {
    margin-right: 25px;
}
ul li:last-of-type {
    margin-right: 0;
}
ul li a, ul li a:visited {
    color: white;
    text-decoration: none;
}
ul li a:hover {
    color: red;
}

/* MAIN */
main {
    width: 90vw;
    margin: 0 auto;
}

/* HERO */
.hero {
    display: flex;
    margin: 50px 0;
    height: 400px;
    justify-content: space-between;
    align-items: center;
}
.hero .herotxt {
    padding-right: 50px;
}
.hero img {
    height: 100%;
    width: 100%;
}

/* GALLERY */
.gallery h2 {
    text-align: center;
    margin-bottom: 20px;
}
.gallery .projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 25px;
}
.gallery .projects .project-set {
    width: calc(50% - 25px);
}

.gallery .projects .project-set img {
    width: 100%;
}
.gallery .projects .project-set p {
    margin: 10px 0;
}
.gallery .linkbtn, .gallery .linkbtn:visited {
    display: inline-block;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    border: 3px solid black;
    transition: .5s;
}
.gallery .linkbtn:hover {
    background-color: transparent;
    color: black;
}

/* FOOTER */
footer {
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
    margin-top: 50px;
    text-transform: uppercase;
}

/* ABOUT ME PAGE */
#about main img {
    width: 50%;
    height: 100%;
}
#about main {
    display: flex;
    height: 600px;
    align-items: center;
    margin-top: 50px;
}
#about main div {
    padding-left: 50px;
}
#about main div p {
    margin: 25px 0;
}
.linkbtn {
    border: 3px solid green;
    background-color: green;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    transition: 1s;
    text-decoration: none;
    font-size: 1.25rem;
}
.linkbtn:hover {
    background-color: transparent;
    color: green;
}

/* MEDIA QUERIES AND RESPONSIVENESS */
@media screen and (max-width: 768px) {
    .hero {
        flex-flow: column wrap;
        height: auto;
    }
    .hero .herotxt {
        padding: 0 0 30px 0;
    }
    .gallery .projects {
        flex-flow: column wrap;
    }
    .gallery .projects .project-set {
        width: 100%;
    }
}